.title {
  text-align: center;
  margin: 20px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
